<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/2.26.3/css/uikit.gradient.min.css"/>
</head>
<body>
<div class="uk-grid">
    <div class="uk-width-1-5"></div>
    <div class="uk-width-3-5">
        <h1>Home</h1>
        <p>姓名：</p>
        <p th:text="${student.name}"></p>
        <p>性别：</p>
        <p th:text="${student.sex}"></p>
        <p>年龄：</p>
        <p th:text="${student.age}"></p>
        <p>电话：</p>
        <p th:text="${student.tel}"></p>
    </div>
</div>
</body>
</html>